part0/node_modules
part1/node_modules
part2/node_modules
part3/test_app/node_modules
part3/phonebook/node_modules
part3/test_app/.env
part3/phonebook/.env
part4/test_app/.env
part4/test_app/node_modules
part4/blog_list/node_modules
part4/blog_list/.env
